<ion-content >
  
  <div class="padding">
    <div class="logo">
      <ion-img src="https://i.imgur.com/EMx6uVW.png" style="height:100px"></ion-img>
      
    </div>
    <ion-item color="light" expand="block" shape="round" fill="outline">
      <ion-input color="dark" type="mail" placeholder="Adresse email"></ion-input >
    </ion-item >

    <ion-item color="light" expand="block" shape="round" fill="outline">
      <ion-input color="dark" type="password" placeholder="Mot de passe"></ion-input >
    </ion-item >
    <ion-button color="light" expand="block" shape="round" fill="outline">Connexion</ion-button >
    <br>
    <ion-button color="tertiary" expand="block" shape="round">Inscription</ion-button >
  </div>

</ion-content>

