<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="padding-top:17%;">
      <ion-title style="text-align: center;font-weight:bold;size:large;font-size:2em;">
        Mon Compte
      </ion-title>
    </ion-row>
    <ion-row class="ion-align-items-center" style="padding-top:8%;">
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <form (ngSubmit)="validate()" [formGroup]="formGroup">
          <ion-item>
            <ion-label position="floating" style="color:rgba(0, 0, 0, 0.685);">Prénom</ion-label>
            <ion-input type="text" formControlName="firstNameForm"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color:rgba(0, 0, 0, 0.685);">Nom de famille</ion-label>
            <ion-input type="text" formControlName="lastNameForm"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color:rgba(0, 0, 0, 0.685);">Email</ion-label>
            <ion-input type="text" formControlName="emailForm"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color:rgba(0, 0, 0, 0.685);">Mot de passe</ion-label>
            <ion-input type="password" formControlName="passwordForm"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color:rgba(0, 0, 0, 0.685);">Mot de passe (encore)</ion-label>
            <ion-input type="password" formControlName="passwordAgainForm"></ion-input>
          </ion-item>
          <ion-button type="submit" block color="primary" [disabled]="formGroup.invalid 
          || formGroup.controls.passwordForm.value != formGroup.controls.passwordAgainForm.value">Confirmer</ion-button>
        </form>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--style="background-color:aqua;"-->